<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      Id="1"
      photoCover="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/AD72115B9CDAE873B2234BD0908CEF7B45A2D9AD9C66C699239B46E582F70A8B/scale?width=1200&aspectRatio=1.78&format=jpeg"
      cardTitle="NOVO HOMEM DE FERRO ANUNCIADO"
      cardDescription="Marvel studios anuncia novo filme do homem de ferro"
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      photoCover="https://imgs.search.brave.com/sFpFKO4qpvnxU0iQrCZdnCZW_oYxLIfE1vKFqRiQTl8/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9maWxl/cy50ZWNub2Jsb2cu/bmV0L3dwLWNvbnRl/bnQvdXBsb2Fkcy8y/MDIyLzAzL3dhbmRh/LmpwZw"
      cardTitle="Nova Série anunciada no Disney +"
    ></app-small-card>
    <app-small-card
      Id="3"
      photoCover="https://imgs.search.brave.com/_uDnmioq-_89ih7hasGhG5cmxeJwJ--kZNWZIaVPxwg/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jaW5l/YnV6ei51b2wuY29t/LmJyL21lZGlhL192/ZXJzaW9ucy9xdWFu/ZG9fZXN0cmVpYV9w/YW50ZXJhX25lZ3Jh/X3dha2FuZGFfcGFy/YV9zZW1wcmVub19k/aXNuZXlfd2lkZW1k/LmpwZw"
      cardTitle="Novo filme do pantera negra lançado em breve"
    ></app-small-card>
    <app-small-card
      Id="4"
      photoCover="https://imgs.search.brave.com/5QJ3K4omQkFjXLBKFB-z_KeeUviBrrw5zNBWHYLb6IQ/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9sdW1p/ZXJlLWEuYWthbWFp/aGQubmV0L3YxL2lt/YWdlcy8wNV94LW1l/bl9jM2Q1OTVmMy5q/cGVnP3JlZ2lvbj0y/NjcsMCwxMDY2LDYw/MA"
      cardTitle="Novo filme dos X-men está em pós produção, afirma diretor"
    ></app-small-card>
  </div>
</div>
